* {
    margin: 0;
    padding: 0;
}

/*inicio Estilo para o cabeçalho */
header {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    top: 0%;
    width: 100%;
    height: 10%;
}

#title {
    flex-direction: column;
    line-height: 10px;
    color: #fd8a24;
    padding: 10px;

}

header li {
    display: inline-block;
    margin: 20px;

}

ul {
    list-style: none;

}

.menu-inicial {
    padding: 15px;

}

header a {
    color: white;
}

header a:hover {
    color: #fd8a24;
    transition: 0.3s all;
}

.btn-comum {
    border: 2px solid #fd8a24;
    transition: 0.3s all;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    background-color: #222222;
    color: #fff;

}

.btn-comum:hover {
    background-color: #fd8a24;
    color: white;
}

/* Fim Estilo para o cabeçalho */
body {
    background-color: #222222;
}

/* Estilo para as colunas de anuncio */
.container-controlador {
    display: flex;
    padding: 10px;
    margin: 70px 5px 0 0;
    width: 100%;
    background-color: #fd8a24;
}

.form {
    display: flex;
    padding: 10px;
    border-radius: 15px;
    margin: 5.5px;
    color: #fff;
    background-color: #222222;
}

.form p {
    font-size: 20px;
}

.form li {
    font-size: 20px;
}

.anuncio-detalhado {
    display: block;
    width: 100%;
    padding: 15px 10px;
    position: relative;

}

.informacoes-anuncio-detalhado {
    display: inline-block;
    width: 100%;
    margin: 10px;
}

.informacoes-anuncio-detalhado h2 {
    text-align: center;
}

.informacoes-anuncio-detalhado label {
    font-size: 25px;
    color: #fd8a24;
}

.informacoes-anuncio-detalhado li {
    text-indent: 40px;
    padding: 2px;
}

.informacoes-anuncio-detalhado p {
    text-indent: 40px;
}

#btn-comprar-agora {
    width: 100%;

}

.anuncio-detalhado img {
    width: 500px;
    height: 400px;
    margin-right: 10px;
}

.informacoes-anuncio {
    padding: 0 30px;
    margin-top: 30px;
    border-bottom: 1px solid #a39f9f;
}

.anuncio-detalhado i {
    color: black;
}

/*Fim Estilo para as colunas de anuncio */

/* Estilo quem somos; politica de priv; termos de uso; trabalhe conosco */
#quem-somos {
    padding: 15px;
}

#quem-somos h1 {
    margin: 25px;
    color: #fd8a24;
    text-align: center;
}

#quem-somos h2 {
    color: #fd8a24;
    padding: 10px;
}

#quem-somos h3 {
    margin: 25px;
    color: #ebaa71;
    text-align: center;
}

#btn-retornar-quem-somos {
    margin: 10px;
}

#btn-retornar-quem-somos a {
    color: #fff;
    border-bottom: none;

}

.trabalhe-conosco {
    display: flex;
    justify-content: center;
    /* Centraliza horizontalmente */


}

.trabalhe-conosco input {
    margin: 10px;
    width: 500px;
    border: 1px solid #fd8a24;

}

#sobre-voce {
    height: 250px;
}

#btn-enviar-banco {
    width: 95%;
    margin: 10px;
}

/* Estilo Rodapé */
footer {
    width: 100%;
    height: 30%;
    background-color: #fd8a24;
}

.logo-rodape {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-rodape {
    width: 70%;
    height: 100px;
    margin: 0 0 0 330px;

}

/*
.menu-rodape ul{
    display: inline-block;
    width: 100%;
    height: 100px; 

}*/
.menu-rodape li {
    display: inline-block;
    text-align: center;
    margin: 20px;
    font-size: 22px;
}

/* Estilo pagina de pagamentos */

/*.finalizar-compra {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #fd8a24;
    color: #232323;
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px
}*/
.finalizar-compra{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    border: 2px solid #fd8a24;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    background-color: #fff;
    color: #222222;

}
.finalizar-compra:hover {
    background-color: #fd8a24;
    color: #fff;
    transition: 0.3s all;
}

/* Estilo pagina de Login */

#controle-login{
    display: flex;
    justify-content: center;
    align-items: center;
}
#controle-login h1{
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 0 70px 0;
}
#controle-login form{
    height: 400px;
    margin-top: 80px;
}
#controle-login input{
    margin: 15px;
    width: 500px;
}
#controle-login a{
    margin: 0 0 0 35%;
    color: #fff;
}
#controle-login a:hover{
    color: #fd8a24;
}
#check-pagamento{
    margin: 0 0 10px 28%;
    width: 300px;
    height: 200px;
}
#check-login{
	margin: 0 0 10px 18%;
    width: 300px;
    height: 200px;
}
#title-confirm{
    margin: 0 0 10px 0;
}
.menu-rodape a {
    color: #222222;
}

.menu-rodape a:hover {
    color: #fff;
    transition: 0.3s all;
}

.informacoes-finais {
    padding: 10px;
}

.informacoes-finais p {
    text-align: center;
}

.informacoes-finais img {
    text-align: center;
}

/*Fim Estilo Rodapé */